In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('dbp/train.csv')

In [6]:
df.head()

,1,E. D. Abbott Ltd,Abbott of Farnham E D Abbott Limited was a British coachbuilding business based in Farnham Surrey trading under that name from 1929. A major part of their output was under sub-contract to motor vehicle manufacturers. Their business closed in 1972.
0,1,Schwan-Stabilo,Schwan-STABILO is a German maker of pens for ...
1,1,Q-workshop,Q-workshop is a Polish company located in Poz...
2,1,Marvell Software Solutions Israel,Marvell Software Solutions Israel known as RA...
3,1,Bergan Mercy Medical Center,Bergan Mercy Medical Center is a hospital loc...
4,1,The Unsigned Guide,The Unsigned Guide is an online contacts dire...

In [10]:
len(df.columns)

3

In [13]:
names = ['class', 'title', 'wiki']
d = {}
for i, c in enumerate(df.columns):
    d[c] = names[i]

df = df.rename(columns=d)

In [14]:
df.head()

,class,title,wiki
0,1,Schwan-Stabilo,Schwan-STABILO is a German maker of pens for ...
1,1,Q-workshop,Q-workshop is a Polish company located in Poz...
2,1,Marvell Software Solutions Israel,Marvell Software Solutions Israel known as RA...
3,1,Bergan Mercy Medical Center,Bergan Mercy Medical Center is a hospital loc...
4,1,The Unsigned Guide,The Unsigned Guide is an online contacts dire...

In [17]:
df['class'] = df['class'].map(lambda x: 1)

In [18]:
df = df[0:1800]

In [19]:
df.to_csv('other_text.csv')